<pctsc>
  <settings>
    <hostname>thinclient1</hostname>
    <xserver>Xvesa ....</xserver>
    <resolution>1024x768</resolution>

    <logo_img>samples/logo.gif</logo_img>
    <title>This is the menu title</title>

    <cmd_restart>/bin/echo "Restart Clicked"</cmd_restart>
    <cmd_poweroff>/bin/echo "Poweroff Clicked"</cmd_poweroff>
  </settings>


  <applications>
    <application>
      <title>RDP Connect to Server</title>
      <cmd>/usr/bin/rdesktop -z -P ts.mycompany.com</cmd>
<icon>
iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
/wD/oL2nkwAAB6ZJREFUWMPFl1uMXmUVhp/vtPd/mDM9D4W2U8o0GSjYplWLHBJE0ABKgqHEmBCj
MZFAQggQEmKI8ULUG+OFdyYKllgJUo0YK2kQCqGlLVgrPc3ATMtM2zm0M/PP/+/9Hb0YgyZMMWgj
7+3eF0/W96613iVSSnyS0h/n53L0QPLeIlWVau8GcTEAxEdV4Pzpfal29A3K0YNU5iYREyPI8THi
5GnGQg+VWx8mu/Wuvs5Lrhz6bwHkhT7M/OFHqe3HdyD276AtzqGJaARSCKJSiOY07//icV6+acPg
yZ0/SxcdwBx5GZXVoZIjlCHZJslZki3wLhF8olVKjCjZ8/R2LjpAevd1UqWKMhWi9QjrwDZJvsQ7
cC4RPJQeFt90J/uOP5Pueqiedrz06H+sxuDEq2n7b7+XLmjC5ps7UpYC5FVkViGGElwJ1hKdpfSJ
0oPzgoYXrF4/wN7jv8Tagh17nuIvwz9PmwduYd2irdQq3SipsGmKEfcqp6Ze5+jwIPWhW9h2IYC4
byeiswMqVTAGGnMkW4B1RBewXlB6KF3kPBV612/kr09/G1OFSkUSmeSt0Wc53niO9noPnZ2dSBOZ
C+9zfq5ANQ0Dq25j6MRgWvAJ9OghhGkjZVUQgmRbCG9JtknhE85B6ROFTSy78Q5idZzhUyfJTUJn
IHKByQy5aSfLqmhdISaH94GijJweDizt6WfN2j6xsAcmBxFZFZnXiEVA2IJoWyRfUgYofJoHiYaV
d93HG4d+RRk80ki0EZhMIKVEKYXWGikFIc7hgyW0YOK9Ch1tSxY24cTvn0pZtQZZTtI5wpcEXxJ9
gxQCsZSUQeCdZBZB16W97Dv0IrmSyGqASkIZUMqgdYaUmiQKnLCUZcAVmhuvupdaRSwMIPY+Q6q1
k2o1ZDVDSIfO2yFmpCLS8pGWixQuInpWsXzFMgaHj5IZgzagNUiZMMaglCLLJDFaYiywJZQzks9e
fQ89PV19C3ZBW/MMw6GDuekOCrWCsr4F15aRd0+TLf4bcd+LSHeOGWdZ+fX7OXL2JWbnZql2gcxB
5wmp6x8ASKlopSbWW9yc5PQRSX2gk+UrVg8tCHB44+Nka7dyTnRjrcL6ClqBySL1zZb6tic5tfOn
LNmxneWfvo7n9z+ASBJtEsaAMQKt5z2gtUZIT3AloYj4hqabq5AiLbyMRs+euflg/V6G3qyzZmWF
ZgHTs4mphuT8hGdsZI5r+mZ48FuPwpcfolFOcuzYUXQukDlQSQitUBq01mit8ckRKGlZRTktuPP6
79DV0bPwJPzm9yu7Xjlap6NNohBEn/Au4W3EuYBQLXbvC2z9whi7dk+wYlknX/zUgyiZo7OI0iCV
wpgMpRTGGELweO9JTWierbGyt5++dX3iQwBjU1NrREXRpQ0ducGm+WlnA4QIznmihdi0FM0mixbn
nBt7hbtv2MYPHzjA5qWP0XivDdsAYQw6h7mZFn9/bZR3dvSy5tyTfOP6FwhlWjgPvHpADtaznGpV
kFckhY+EKPBhvgrWRmwZsTbQkSnWXeF57YVHGD93ng2bbue+257g7vQIQ+++w9TEKK2JQJbV2bR+
EZ39YxTndyLNejZs+opYEOBPexNtRlGrzLeRL8E58F5grcdbjy0dziYuX90ixzDVGEdlltHB7cyc
2s6qlf2sXDLAupVLyE2OsMcRrQPMzY7y9knoX3//hRPRkXcFV6+FSgaISPAKHxIuJJyNhNLjbKRo
Bfr7IxU9SaNRckk75BLacoit47ipMaq+nUpHOyJO4tMUzgoaroczk4Llly2wjg+fmEzd3Z3kVUGt
KvA+4Tx4B9GDswnrEq6MNGYL7vzSYoaOPEumDVpLjIJMCfQ/jaeNRsgAyeJDwDnFdLGOIMzCeWDv
YUO9GqlVIjUD1it8iLgI1iZsWeKKAm89yy4pWb+uypG3nsfoQK4SRoM2EmXmW08rQ0oO4vyTTbUi
qvMzZFouDPC7PYm2HOq5QAiB9+CdwNv54GHLgC0CpfNs2SSxzWM0G+Mow7/Gr4poPT98tFGkZElY
fCtjeDSydv3tdHdnP/gQwOjYxM1TMxWqNUlXl6Sca3H21BTjY9OURUlIJa50+DLRnIVN14CdPkHT
Qi4jmUxkEipKo6VGKoGUHpGa+OAovadJH1l9EZf2XvHYh0y4/5jalTcnkePnGW+cY+nyyOb+Gkp5
RscSI6cETXoYc4JyZoqtn7uMEwe/i8wUxgS0FmiTUFpjjMYYgwBi9AQnKRCI+g3IC4R4vXGt/fxP
Hre7QrKk1EFb1ZzLs2zTst41H0TtoffeTs/8JnDooGFpT8GeY7up6kgmBUbNV0BJkFpjZAZxFhUd
0y5xZkLQvmgL1eoFAFb0Lv0z8JFHxppVG8QTD8PJ9wd/PTm+9+6WE3TWBFqnD5aPNgZtJFJHUvKk
5HBl4vCI4dpbt7B27YD4WKl4Ia3s7fvqlQPbxG33PMd00Y2uaTKdMNqQGYPSCqk9Ek+jNLx2SNDe
+zWiSv/dZfRRGj09fPOxw6/vmh79I8XEboizCAFBLaXadS3dK66DjnVUZA/Ll2T7L7t8YNNFBfh3
jYyMvFmWxcYQAiSB1IpMa1atXi3+p9vw/yHJJ6x/AJlEzrUYirDbAAAAAElFTkSuQmCC
</icon>
    </application>

    <application>
      <title>VNC connection to Server 2</title>
      <cmd>/usr/bin/vncclient vnc.mycompany.com</cmd>
<icon>
R0lGODlhIAAgAOf/AAABAAIABQACAAEEAAMFAQkGDAYJBQoMCBUWFBkXGhgaFxsdGx4fHSAhHyIk
IScpJystKi0uLC0xMzAxLzIzMTQ2Mz89QUFCQEVHRFVKJUlLSF5NKU5QTWdPJ1BST1JUUVRVU1ZY
VVtcWl1fXGBiX2JkYWRlY2VmZGZoZWpsaWxua31vQm9xboBxVXFzcHx0XXZ4dXh5d3V7coJ4bIF7
aYV7Xnp8eYx5an1/fHuBd4t/bn+BfpGDbIOEjamEHqOJEoWHhK2HIa+JI4mLiLqLAKuMLL+LBI6N
hamPJZeNb4yOi7CPHrORFY6QjaWQSsWQALyTDb6UALaUGaeRZJKUkaqSX6SWVLmWHJSWk8CWE5qV
k7eaEJ2Vj8OYAruYH5aYlbyZILibH7qdIrueF8mdAMSfAKWajsChAMGdJZudmsehAKael56gnaCi
n8enA6Shpr+rAcmoBamko6ekqaSmo86sANKrAKOpn6aopaCqpcWwAMuvAKiqp6upraatotWuF6ew
q9K1AMyuYdSzG66wrc64Cc24HeC2ALGzr7a0mde6AK+0trK0scC0jrC2rN+2JNS5LLe0ubq1tLW3
tLO4u+G9Hbi6t9q+M7m7uOfBANbBM9vAPru9uri+wN3BNtjDNsO8yL2/vMvBjuLJAL3CxcDCv9fH
YN7MG9/JPOjNAOfGTuPLK+LLNezMD8TGw+7EbMbJucfJxtzMbMrIzMjKx9vLhs7Jx93ObcnLyN/N
gcrMyeHScc3Py97QkOXUbeHWbdDSz/bTW9HT0M/U1/TShNXT1+rYcOjWitPV0tTW09XX1ODantbY
1ejZmejdc/nZburebdja1u7gad3a39rc2Nvd2ufgnebgpOzet93f3Nvg497g3evjoN/h3u7km+Ph
5fbiqeHj4OLi7e7mpPHjve/kw+bj6PjqcuPl4vPmq/Lon+Xn5Obo5efp5uzswujq5/Xtqunr6Pfr
y+rs6eft7/Puy/bt0uzu6vbyu+7w7f7zqu/y7vP18v78y/3//P///yH5BAEKAP8ALAAAAAAgACAA
AAj+AP8JHEiw4LZuBRMqXPiP0wM+/vzRqgCMocWBDuNty7Zt4zZ2HDhdXJhCQ6yTKFHiiqFiZEE8
AixhYjRpEqObOC1NIORyoAATOD5wwOBCSZo0dOi0SQNDQM9/QAREUBDDXz4UDoaY8ABiBAscAob0
FED2BKZs+/hdOKDgwxAICBaQddmNbMxk1Ki1s9SAEC5e7NjYRXgxGdkDvKIpTiDDAq5o1LYJkytA
2UhhZAnwUoYM2YMAEgp0RjYpAllkI2PZJRQN2LAmKzLkmKWrFBW7tEaisIvBVjFBqvT1SycKT4wD
dl2MtCuAgI08rzK1OoePnBYgBJhf/MJcWSk5Ooj+jUoVbE0sZNGYY2HIBoNdXu20FXM049mhG7DM
vcunizcdhWmYYFcJ/NwTDzvTLJIED4h8c08+aaVglwlpFIRJCXYRQM0998xDTzvUkFJKNO1wyOE8
zJmAyUBKCJidAAy8I6OM7bDTTTfstDNjO+1QRhYJVPyDCAkEjAAMWTiEg86STDbpZAxk8SICASQg
ogEFPgnAS0dcdullR/05JdAEGhTU3GN5panmmtTgMhdDEBzgCjLJ1GnnnXjGQgCWDLWhQCzACCPo
oIQSCgwtC7BxkQic4OKoo7pEGumjkdJiSQgjMYIHJZ10KqIroIJaSqeckELHiiN1sEUXUFhhhh+t
koASSiR3cOFEFl14scFIxxSSjjzuYGPIGUU0AUgfRyBBhh2mlFOPPeD0wlAtgcAzjjfWLNMMHGr8
0MMOPpChhybXWMPNOOr4kstCj5zijDO++CKLLHC48cQLLUThxh6byLLLL8ZAI80gC/2hyCqooPLJ
JZDEoYYRNNRARBlx1HGJJ6iwwkolfyj0TSJojCFGGGFIwcQSQlQxxxtTBLHEEkxcAcYYY6DRiDgD
BQQAOw==
</icon>
    </application>

  </applications>
</pctsc>
